:root{
    --text: #f7f7fd;
    --background: #070818;
    --primary-button: #676ed5;
    --secondary-button: #0e1134;
    --accent: #7b81db;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background);
    color: var(--text);
}